.weatherCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightblue;
}

.weatherReport {
  display: flex;
  flex-direction: row;
}
