.App {
  text-align: center;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.h1 {
  color: black;
  padding: 0.5em;
}

.spinner {
  padding: 80px;
}
