.App {
  text-align: center;
  background-color: transparent;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.h1 {
  color: white;
  font-size: 40px;
  padding: 0.5em;
  text-shadow: 1px 1px 4px black;
}

.spinner {
  padding: 80px;
}

.glass {
  padding-top: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.3)
  );
}

.img {
  height: 40px;
}
